/*========================================= Section Navbar =========================================*/
.navbar {
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
}
.navbar .container {
}
.navbar .container .navbar-brand {
  outline: none !important;
}
.navbar .container .navbar-collapse {
}
.navbar .container .navbar-collapse .d-flex {
  padding: 10px;
}
.navbar .container .navbar-collapse .d-flex .navbar-nav {
}
.navbar .container .navbar-collapse .d-flex .navbar-nav .nav-item {
  padding: 3px 20px;
}
.navbar .container .navbar-collapse .d-flex .navbar-nav .nav-item .nav-link {
  color: #ffffff;
}
.navbar .container .navbar-collapse .navbar-nav .nav-item:last-child {
  background-color: #ffffff;
  opacity: 50%;
  border-radius: 50px;
}
.navbar .container .navbar-collapse .navbar-nav .nav-item:last-child .nav-link {
  color: #000000;
}
.nav-profile {
  background-color: transparent !important;
  opacity: 1 !important;
  border-radius: 0 !important;
}
.nav-profile .nav-link {
  color: #ffffff !important;
}
.nav-profile a {
  display: inline-block;
}
.nav-profile img {
  display: inline-block;
}

.nav-item dropdown {
  position: relative;
}
.navbar form {
  position: relative;
  padding-right: 0 !important;
}
.navbar form input {
  margin-right: 0 !important;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
}
.navbar form svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 8%;
}
/*========================================= End Section Navbar =========================================*/

/*========================================= Popup Login =========================================*/
.popup-login {
}
.popup-login .modal-dialog {
  position: relative;
  width: 100%;
  margin: 0;
  max-width: 100%;
  height: 100vh;
  max-height: 100vh;
}
.popup-login .modal-dialog .modal-content {
  display: block;
  position: absolute;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  width: 50%;
  text-align: center;
  padding: 50px;
}
.popup-login .modal-dialog .modal-content .btn-close {
  position: absolute;
  top: 30px;
  right: 30px;
}
/*========================================= End Popup Login =========================================*/

/*========================================= Popup Register =========================================*/
.popup-register {
}
.popup-register .modal-dialog {
  position: relative;
  width: 100%;
  margin: 0;
  max-width: 100%;
  height: 100vh;
  max-height: 100vh;
}
.popup-register .modal-dialog .modal-content {
  display: block;
  position: absolute;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  width: 50%;
  text-align: center;
  padding: 50px;
}
.popup-register .modal-dialog .modal-content .btn-close {
  position: absolute;
  top: 30px;
  right: 30px;
}
/*========================================= End Popup Register =========================================*/

/*========================================= Section Header =========================================*/
.section-header {
}
.section-header .carousel-inner {
}
.section-header .carousel-inner .carousel-item {
  position: relative;
}
.section-header .carousel-inner .carousel-item .text {
  position: absolute;
  margin: 0 auto;
  top: 40%;
  left: 0;
  right: 0;
  width: 70%;
  text-align: center;
}
.section-header .carousel-inner .carousel-item .text h1 {
  color: #ffffff;
  font-family: "Times New Roman", Times, serif;
  height: 80px;
}
.section-header .carousel-inner .carousel-item .text p {
  color: #ffffff;
}
.section-header .carousel-inner .carousel-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
/*========================================= End Section Header =========================================*/

/*========================================= Section Our Product =========================================*/
.section-our-product {
  padding: 100px 150px;
  text-align: center;
}
.section-our-product h2 {
  margin-bottom: 80px;
  text-align: center;
  text-transform: uppercase;
}
.section-our-product .item {
  display: inline-block;
  margin: 20px;
  width: 20%;
  height: auto;
}
.section-our-product .item img {
  margin-bottom: 10px;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.section-our-product .item h3 {
}
/*========================================= End Section Our Product =========================================*/

/*========================================= Section Our Partner =========================================*/
.section-our-partner {
  padding: 100px 0;
  text-align: center;
}
.section-our-partner h2 {
  margin-bottom: 80px;
  text-align: center;
  text-transform: uppercase;
}
.section-our-partner .item {
  display: inline-block;
  margin: 20px;
  width: 30%;
  height: auto;
}
.section-our-partner .item img {
  margin-bottom: 10px;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.section-our-partner .item h3 {
}
/*========================================= End Section Our Partner =========================================*/

/*========================================= Section News =========================================*/
.section-news {
  padding: 100px 140px;
  background-color: #dddddd;
}
.section-news h2 {
  margin-bottom: 50px;
  text-align: center;
}
.section-news .carousel-inner {
}
.section-news .carousel-inner .carousel-item {
}
.section-news .carousel-inner .carousel-item .wrapper {
  width: 100%;
  height: auto;
  text-align: center;
}
.section-news .carousel-inner .carousel-item .wrapper .cardbox {
  display: inline-block;
  margin: 10px;
  width: 47%;
  height: 500px;
  border-radius: 10px;
  vertical-align: top;
  overflow: hidden;
  background: white;
}
.section-news .carousel-inner .carousel-item .wrapper .cardbox img {
  margin-bottom: 15px;
  width: 100%;
}
.section-news .carousel-inner .carousel-item .wrapper .cardbox h3 {
  margin-bottom: 15px;
  padding: 0 15px;
  text-align: left;
}
.section-news .carousel-inner .carousel-item .wrapper .cardbox p {
  text-align: justify;
  padding: 0 15px 10px;
}
.section-news .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.section-news .carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
/*========================================= End Section News =========================================*/

/*========================================= Section Footer =========================================*/

.section-footer {
  background-color: #000000;
  padding: 100px 100px;
  color: #ffffff;
}
.section-footer h3 {
  margin-bottom: 30px;
}
.section-footer table {
}
.section-footer table tr {
}
.section-footer table td {
  vertical-align: top;
}
.section-footer table td img {
  margin-right: 10px;
}
/*  
.section-footer h2 {
}
.section-footer h3 {
  display: inline-block;
  padding-left: 382px;

  text-align: center;
}
.section-footer .contact p {
  display: inline-flex;
  padding-left: 5px;
}
.section-footer .contact img {
  padding-left: 371px;
}
.section-footer .sosial p {
  display: inline-flex;
  text-align: justify;
  padding-left: 5px;
}
.section-footer .sosial img {
  padding-left: 884px;
}
*/
/*========================================= End Section Footer =========================================*/

/* ===================================== Product ===================================== */
.section-product {
  padding: 100px 150px;
  text-align: center;
}
.section-product .item {
  display: inline-block;
  margin: 20px;
  width: 20%;
  height: auto;
}
.section-product .item img {
  margin-bottom: 10px;
  width: 150px;
  height: 126px;
  object-fit: cover;
}
/* ===================================== End Product ===================================== */

/* ========================================= PROFILE ===================================== */
.section-profile-header {
  position: relative;
  margin-top: 80px;
  padding: 100px;
  width: 100%;
  height: 370px;
  background: url(assets/profile-wade/head-01.png);
  background-repeat: none !important;
  background-size: cover !important;
  background-position: center !important;
}
.section-profile-header img {
  display: inline-block;
  vertical-align: top;
  margin-right: 50px;
}
.section-profile-header .info {
  display: inline-block;
  vertical-align: top;
  width: 380px;
  height: 200px;
}
.section-profile-header .info h1 {
  color: #ffffff;
}
.section-profile-header .info p {
  color: #ffffff;
}
.section-profile-header .info a {
  display: block;
  width: 100px;
  padding: 10px 30px;
  text-decoration: none;
  border-radius: 10px;
  color: #000000;
  background: #dddddd;
}

.text-profile {
  position: absolute;
  background: url(assets/partner/wade.png);
}
.text-profile img {
  border-radius: 100%;
}
/* ========================================= END PROFILE ================================== */

/* ==================================PRODUCT UMKM ========================================== */
.section-product-umkm {
  padding: 190px 150px;
  text-align: center;
}
.section-product-umkm .item {
  display: inline-block;
  margin: 20px;
  width: 20%;
  height: auto;
}
.section-product-umkm .item img {
  margin-bottom: 10px;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
/* =====================================END PRODUCT UMKM===================================== */

/* ================================ produc umkm ============================================ */
.section-product-umkm-store {
  padding: 50px 150px;
  text-align: center;
}
.section-product-umkm-store .item {
  display: inline-block;
  margin: 71px;
  width: 35%;
  height: auto;
}
.section-product-umkm-store .item img {
  margin-bottom: 10px;
  width: 181px;
  height: 120px;
  object-fit: cover;
}
.section-product-umkm-store .item .image {
  display: inline-block;
  width: 48%;
  vertical-align: top;
}
.section-product-umkm-store .item .brg {
  display: inline-block;
  width: 48%;
  vertical-align: top;
  box-shadow: 2px 2px 3px;
  border-radius: 5%;
  vertical-align: auto;
}
/* =========================================== END PRODUCT UMKM================================================== */

/* =========================================== MENU CONTENT ================================================== */
.section-menu-content {
  position: relative;
  padding: 50px 20px;
}
.section-menu-content ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}
.section-menu-content ul li {
  display: inline-block;
  padding: 0 120px;
}
.section-menu-content ul li a {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}
.section-menu-content ul li a:hover {
  color: grey;
  text-decoration: none;
}
/* =========================================== END MENU CONTENT ================================================== */

/* =========================================== LIST PRODUK UMKM ================================================== */
.section-list-produk-umkm {
  padding: 0 80px 100px;
}
.section-list-produk-umkm .wrapper {
  margin: 0 auto 100px;
  width: 90%;
  height: 230px;
  border-radius: 10px;
  box-shadow: 2px 2px 3px;
  overflow: hidden;
}
.section-list-produk-umkm .wrapper .image {
  display: inline-block;
  vertical-align: top;
  width: 49%;
  height: 100%;
}
.section-list-produk-umkm .wrapper .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section-list-produk-umkm .wrapper .info {
  display: inline-block;
  vertical-align: top;
  padding: 40px 10px;
  width: 49%;
  height: 100%;
}
.section-list-produk-umkm .wrapper .info h3 {
  margin-bottom: 10px;
}
.section-list-produk-umkm .wrapper .info p {
  margin-bottom: 10px;
}
.section-list-produk-umkm .wrapper .info .location svg {
  display: inline-block;
}
.section-list-produk-umkm .wrapper .info .location p {
  display: inline-block;
}
/* =========================================== END LIST PRODUK UMKM ================================================== */

/* ========================================== SECTION PRODDUCT PROFILE UMKM ========================================== */
.section-product-profile-umkm {
  padding: 0px 100px;
}
.section-product-profile-umkm .wrapper {
  margin: 0 auto 50px;
  width: 86%;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 3px;
}
.section-product-profile-umkm .wrapper .image {
  margin-bottom: 10px;
  width: 100%;
}
.section-product-profile-umkm .wrapper h3 {
  margin-bottom: 0;
  padding: 0 30px;
}
.section-product-profile-umkm .wrapper p {
  margin-bottom: 25px;
  padding: 0 30px;
}
/* ========================================== SECTION PRODDUCT PROFILE UMKM ========================================== */

/* ========================================== SECTION PROFILE WADE =================================================== */
.section-about-me {
  padding: 100px 220px;
}
.section-about-me h2 {
  text-align: center;
  margin-bottom: 25px;
}
.section-about-me p {
  text-align: center;
}
.section-about-me .wrapper p {
}

.section-biodata {
  padding: 100px 100px;
  background-color: #dddddd;
}

.section-biodata {
  padding: 100px 100px;
}
.section-biodata h2 {
  text-align: center;
  margin-bottom: 25px;
}
.section-biodata p {
  text-align: center;
}
.section-biodata .wrapper p {
}
/* =======================================================SECTION FAVORITE WADE ========================================== */
.section-favorite {
  padding: 150px 100px 0px 100px;
}
.section-favorite h2 {
  text-align: center;
  height: 70px;
}
.section-favorite .wrapper {
  margin: 0 auto 100px;
  width: 90%;
  height: 230px;
  border-radius: 10px;
  box-shadow: 2px 2px 3px;
  overflow: hidden;
}
.section-favorite .wrapper .image {
  display: inline-block;
  vertical-align: top;
  width: 49%;
  height: 100%;
}
.section-favorite .wrapper .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section-favorite .wrapper .info {
  display: inline-block;
  vertical-align: top;
  padding: 40px 10px;
  width: 49%;
  height: 100%;
}
.section-favorite .wrapper .info h3 {
  margin-bottom: 10px;
}
.section-favorite .wrapper .info p {
  margin-bottom: 10px;
}
.section-favorite .wrapper .info .location svg {
  display: inline-block;
}
.section-favorite .wrapper .info .location p {
  display: inline-block;
}
/* ======================================================= END SECTION FAVORITE WADE ========================================== */

/* =======================================================SECTION FAVORITE2 WADE ========================================== */
.section-favorite2 {
  padding: 0px 150px;
}
.section-favorite2 .wrapper {
  margin: 0 auto 50px;
  width: 86%;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 3px;
}
.section-favorite2 .wrapper .image {
  margin-bottom: 10px;
  width: 100%;
}
.section-favorite2 .wrapper h3 {
  margin-bottom: 0;
  padding: 0 30px;
}
.section-favorite2 .wrapper p {
  margin-bottom: 25px;
  padding: 0 30px;
}
/* =======================================================SECTION FAVORITE2 WADE ========================================== */

/* ========================================== END SECTION PROFILE WADE =================================================== */
